@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Michroma&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-logo {
  background: conic-gradient(from 179.96deg at 50% 50%, #AECAFF -65.63deg, #FFFFFF 22.46deg, #C4A9FF 105deg, #CBB3FF 222.87deg, #AECAFF 294.38deg, #FFFFFF 382.46deg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.background-gradient {
  background: conic-gradient(from 179.96deg at 50% -50%, #AECAFFbb -65.63deg, #FFFFFFe0 22.46deg, #C4A9FFbb 105deg, #CBB3FFbb 222.87deg, #AECAFFbb 294.38deg, #FFFFFFe0 382.46deg);
}
